.contain{
    max-width: 1000px;
    height: auto;
    background-color: transparent;
}
.aboutme{
    width: 600px;
    height: auto;
    align-items: center;
}
.intro{
    width: 500px;
    text-align: center;
    background-color: transparent;
    padding-top: 100px;
}
.intro p{
    text-align: center;
    background: linear-gradient(to right, #FFBF00, #F5F5DC, #FFFF00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
  
  
.imgcon{
    width: auto;
    height: auto;
    background: linear-gradient(to right, #FF0000, #0000FF, #4A0404);
    border-radius: 50px 50px 10px 10px;
    justify-items: center;
    padding-left: 40px;
    align-items: center;
    margin-top: 0px;
    -webkit-animation: scale-in-ver-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-ver-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.iconStack{
    padding-top: 100px;
    margin-left: 50px;
}
.writeupWord{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: ivory;
    font-size: 18px;
    font-weight: bolder;
}
.intro p::after{
    right: -10px;
    animation: blink 4s;
    position: absolute;
}
.intro p{
    animation: typing 4s steps(40, end);
    max-width: 500px;
    margin:auto auto;
    float: left;
    justify-self: center;
}
.writeup{
    justify-self: center;
    align-self: center;
    background-color: transparent;
    border: 1px solid silver;
    height: 200px;
    width: 800px;
    position: relative;
    border-radius: 10px 20px;
    -webkit-animation: bounce-in-left 1.1s both;
	        animation: bounce-in-left 1.1s both;
}

 @-webkit-keyframes bounce-in-left {
    0% {
      -webkit-transform: translateX(-600px);
              transform: translateX(-600px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateX(-68px);
              transform: translateX(-68px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateX(-28px);
              transform: translateX(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes bounce-in-left {
    0% {
      -webkit-transform: translateX(-600px);
              transform: translateX(-600px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateX(-68px);
              transform: translateX(-68px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateX(-28px);
              transform: translateX(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  

@keyframes blink{
    0%{
        border-color: #000;
    }
    50%{
        border-color: transparent;
    }
    80%{
        border-color: #000;
    }
    100%{
        border-color: transparent;
    }
}
@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 300px;
    }
}
@-webkit-keyframes scale-in-ver-bottom {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
  }
  @keyframes scale-in-ver-bottom {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
  }
  
  
  